@font-face {
     font-family: "Nunito Sans";
     src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
          url("../fonts/NunitoSans-Regular.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Nunito Sans";
     src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
          url("../fonts/NunitoSans-Light.woff") format("woff");
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Nunito Sans";
     src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
          url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Nunito Sans";
     src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
          url("../fonts/NunitoSans-SemiBold.woff") format("woff");
     font-weight: 600;
     font-style: normal;
     font-display: swap;
}


/* Custom Props  */
:root{
     --body-bg: #fff;
     --black: #111517;
     --dark-light: #2B3844;
     --dark-bg: #202C36;
     --text-color: #FFFFFF;
     --main-font: "Nunito Sans","Roboto", sans-serif;
     --background-color: #F2F2F2;

}

/* dark-mode  */
.dark-mode{
     --black: #FFFFFF;
     --text-color: #1e262e;
     --body-bg: var(--dark-light);
     --background-color: var(--dark-bg);
}

/* outline  */
:focus{
     outline: 2px dashed var(--dark-light);
}

/* Global  */
html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;

}

/* button  */
.button{
     padding: 0;
     white-space: nowrap;
     background-color:  var(--body-bg);
     border: none;
     cursor: pointer;
}
.button:hover{
     opacity: 0.8;
}
.button:active{
     opacity: 0.6;
}
*,
*::after,
*::before{
     box-sizing: inherit;
}

body{
     padding: 0;
     margin: 0;
     display: flex;
     font-size: 16px;
     line-height: 1.5 ;
     font-family: var(--main-font);
     flex-direction: column;
     height: 100%;
     background-color: var(--background-color);
     color: var(--black);
     transition: background-color 0.3s ease,
     color 0.3s ease;
}

img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     min-width: 1440px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 80px;
     padding-right: 80px;
}

/* Main content  */
.main-content{
     margin-right: auto;
     margin-left: auto;
     margin-top: 48px;
}

/* Global search form  */
.globall-search-form{
     position: relative;
     margin-right: auto;
     color: var(--black);
}
.globall-search-form-input{
     width: 480px;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 20px;
     border: none;
     padding-top: 13px;
     padding-bottom: 13px;
     background-color: var(--body-bg);
     padding-left: 74px;
     background-image: url(/images/search-icon.png);
     color: var(--black);
     background-repeat: no-repeat;
     background-position: 32px 13px;
     background-size: center;

}
/* HEADER  */
.main-header{
     width: 100%;
     max-width: 1440px;
     background-color:  var(--body-bg);
}
.header-inner{
     width: 100%;
     display: flex;
     padding-top: 23px;
     padding-bottom: 24px;
}

.logo{
     margin-right: auto;
     font-family: "Nunito Sans","Roboto" sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 24px;
     line-height: 33px;
     color: var(--black);
     text-decoration: none;
}
.logo:hover{
     opacity: 0.8;
}
.logo:active{
     opacity: 0.6;
}

.dark-mode-button{
     padding: 6px;
}
.dark-mode-button-wrapper{
     display: flex;
     align-items: center;
}
.dark-mode-icon{
     width: 20px;
     height: 20px;
     display: inline-block;
     background-image: url(/images/dark-mode-icon\ 2.png);
     background-size: contain;
     background-position: center center;
     margin-right: 8px;

}

.dark-mode-text{
     font-family: var(--main-font);
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 22px;
     color: var(--black);
}

/* Back button   */
.back-button{
     padding: 10px;
}

.back-button-wrapper{
     display: flex;
     align-items: center;
}
.back-mode-icon{
     width: 20px;
     height: 20px;
     display: inline-block;
     background-image: url(/images/back-icon.png);
     color:  var(--body-bg);
     background-size: contain;
     background-position: center center;
     margin-right: 10px;
}
.back-mode-text{
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 20px;
     color: var(--black);
}

/* FORM element  */
.form-and-select-wrapper {
     display: flex;
     align-items: center;
}

/* Select element  */
.select-form {
     background-color: var(--body-bg);
     color: var(--black);
     width: 200px;
     padding: 18px;
     padding-left: 24px;
     border-radius: 5px;
}
.filter-by-region-label{
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 20px;


}
.filter-by-region-select{
     border: none;
     padding-right: 37px;
     background-color: var(--body-bg);
     color: var(--black);
}


/* Main section */
.main-section{
     margin-top: 80px;
     display: flex;
}
.img-flag{
     width: 560px;
     height: 401px;
     margin-right: 120px;
}

.main-section-info{
     margin-top: 30px;
}

.info-header{
     font-family: var(--main-font);
     font-style: normal;
     font-weight: 800;
     font-size: 32px;
     line-height: 44px;
     margin-bottom: 0;
}

.info-text-wrapper{
     margin-top: 23px;
     display: flex;
}
.info-list-center{
     padding: 0;
     margin: 0;
}
.info-list{
     list-style: none;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 32px;
}

.info-list-value{
     font-weight: 300;
}

.border-countries{
     margin-top: 68px;
}

.border-countries-text{
     font-family: var(--main-font);
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     margin-right: 15px;
}
.border-countries-text:not(:last-child){
     margin-right: 10px;
}
.each-country{
     display: inline-block;
     text-align: center;
     width: 98px;
     text-decoration: none;
     color: var(--black);
     box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
     border-radius: 2px;
     background-color:  var(--body-bg);
     font-style: normal;
     font-weight: 300;
     font-size: 14px;
     line-height: 19px;
     padding: 5px;

}

/* FLAG_SECTION  */
.flags-section {
     margin-top: 48px;

}
.flag-box-upper{
     display: flex;

}
.flags-box:not(:last-child){
     margin-right: 75px;
}
.flag-box-link{
     color: var(--black);
     text-decoration: none;

}
.flag-box-link:hover{
     opacity: 0.8;
}
.flag-box-link:active{
     opacity: 0.6;
}

.flags-box {
     padding: 0;
     margin: 0;
     width: 264px;
     background-color: var(--body-bg);

}
.country-img {
     padding: 0;
     margin: 0;
     width: 264px;
     height: 160px;
     object-fit: cover;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.img-header {
     padding: 0;
     margin: 0;
     font-family: var(--main-font);
     margin-left: 24px;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 26px;
     margin-top: 24px;
}
.info-list-right {
     padding: 0;
     margin-left: 24px;
}
.img-info-list {
     padding: 0;
     margin: 0;
     margin-bottom: 8px;
     font-family: var(--main-font);
     list-style: none;
     font-style: normal;
     color:var(--black);
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
}
.img-info-list:last-child{
     padding-bottom: 46px;
}
.flag-box-down{
     display: flex;
     padding: 0;
     margin: 0;
     margin-top: 75px;
     margin-bottom: 45px;
}